.picker {
	display: flex;
	margin-top: 10px;
	border: 1px solid #F0F0F4;
}

.block {
	flex: 1;
	border-left: 1px solid #F0F0F4;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px 10px 10px;
}

.block:first-child {
	border-left: none;
}

.block:hover {
	background: #F0F0F4;
	cursor: pointer;
}

.icon {
	margin-right: 0;
}

.icon__movie {
	color: #EC644B;
}

.icon__tv {
	color: #87D37C;
}

.icon__game {
	color: #947CB0;
}

.icon__music {
	color: #52B3D9;
}

.icon__podcast {
	color: #EC8436;
}

.icon__book {
	color: #6C7A89;
}

.icon__comic {
	color: #F7CA18;
}

.icon__video {
	color: #EC644B;
}

.icon__text {
	color: #95A5A6;
}

.name {
	color: black;
	margin-top: 5px;
	margin-left: 0;
}

@media (max-width: 460px) {
	.picker {
		flex-direction: column;
	}

	.block {
		flex-direction: row;
		padding: 10px;
		border-left: none !important;
	}

	.name {
		margin-left: 25px;
		margin-bottom: 5px;
	}
}