.almn-input-addon {
	font-family: monospace;
}

.almn-linkicon {
	margin-left: 5px;
	&--spotify {
		color: #00BA5D;
	}
	&--youtube {
		color: red;
	}
	&--vimeo {
		color: #4DABE9;
	}
}

.alamac-mde {
	margin: 25px 0;
	position: relative;
	&--toggle {
		position: absolute;
		top: 5px;
		right: 5px;

		@media (max-width: 400px) {
			top: -15px;
		}
	}
}