.almn-icon {
	&__movie {
		color: $type-movie;
	}
	&__tv {
		color: $type-tv;
	}
	&__game {
		color: $type-game;
	}
	&__music {
		color: $type-music;
	}
	&__podcast {
		color: $type-podcast;
	}
	&__book {
		color: $type-book;
	}
	&__video {
		color: $type-video;
	}
	&__quote {
		color: $type-text;
	}
}
