.almn-icon {
	&__movie {
		color: #EC644B;
	}
	&__tv {
		color: #87D37C;
	}
	&__game {
		color: #947CB0;
	}
	&__music {
		color: #52B3D9;
	}
	&__podcast {
		color: #EC8436;
	}
	&__book {
		color: #F7CA18;
	}
	&__video {
		color: #EC644B;
	}
	&__quote {
		color: #95A5A6;
	}
}