.almanac-rating {
    display: flex;
    max-width: 200px;
    padding-left: 5px;
    &--star {
        margin-right: 20px;
        &:hover {
            cursor: pointer;
            color: $rating-color;
        }
        &--selected {
            color: $rating-color;
        }
        &--unselected {
            color: $rating-color-light;
        }
    }
}
