
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "loader";
@import "picker";
@import "rating";
@import "editor";
@import "icons";
@import "search";

body {
	margin-bottom: 50px;
}

.pagination-wrapper {
	text-align: center;
}

.almn-search-bar {
	display: flex;
	margin: 10px 0;

	& .form-control:first-child {
		margin-right: 5px;
	}
}
