
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "../shared";

//@import "picker";
//@import "rating";
//@import "editor";
//@import "icons";
//@import "search";

* {
    box-sizing: border-box;
}

body {
    background: #f5f8fa;
    margin: 0 0 50px 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #636b6f;
}

.pagination-wrapper {
	text-align: center;
}
