$background: #EDF0F1;
$background-post: #fff;

$top-offset: -35px;
$sidebar-breakpoint: 800px;

$text-color: #404040;
$light-text-color: #64707A;
$lighter-text-color: #919ba2;
$border-color: #d0d0d0;
$primary-color: #EB9532;

$bad-color: #f56d54;
$fine-color: #f3c50c;
$good-color: #87D37C;