@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@import "variables";

body {
	background: $background;
	font-family: "Montserrat", sans-serif;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	transition: all 0.4s;
	color: $lighter-text-color;
	&:hover {
		color: $primary-color;
	}
}

iframe {
    max-width: 100%;
}

blockquote {
    font-style: italic;
}

.almn-page {
	max-width: 600px;
	margin: 0 auto;
}

.almn-header {
    text-align: center;
    &--main {
        margin-bottom: 0;
    }
    &--subtitle {
        margin-top: 0;
    }
    a {
        color: $text-color;
        &:hover {
            color: $primary-color;
        }
    }
}

.almn-nav {
    font-size: 1.5em;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--link {
        padding: 10px;
        a {
            color: $light-text-color;
            &:hover {
                color: $primary-color;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.almn-posts {
    width: 100%;
    box-sizing: border-box;
}

.almn-footer {
	padding: 25px;
	text-align: center;
	font-size: 14px;
}

@import "posts";
@import "pagination";
