@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@import "variables";

body {
	background: $background;
	font-family: "Montserrat", sans-serif;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	transition: all 0.4s;
	color: $lighter-text-color;
	&:hover {
		color: $primary-color;
	}
}

.almn-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 250px;
	background: url('/neon-bg.jpg') center center;
	background-size: cover;
}

.almn-page {
	max-width: 1000px;
	margin: 0 auto;
}

.almn-posts-wrap {
	margin-right: 10px;
	margin-left: 10px;
	width: 600px;
	float: right;
	margin-top: 250px;
	& .almn-posts {
		margin-top: $top-offset;
		@media (max-width: $breakpoint) {
			margin-top: 0;
			max-width: calc(100% - 20px);
		}
	}
	@media (max-width: $breakpoint) {
		width: 100%;
		float: none;
		margin-top: 25px;
	}
}

.almn-sidebar-wrap {
	position: relative;
	margin-top: 260px;
	width: 375px;
	float: left;

	@media (max-width: $breakpoint) {
		width: 100%;
		float: none;
		margin-top: 225px;
	}
}

.almn-sidebar {
	position: fixed;
	padding: 25px;
	box-sizing: border-box;
	width: inherit;
	background: $background-post;
	border: 1px solid $border-color;

	@media (max-width: $breakpoint) {
		margin: 0 auto;
		border: 1px solid $border-color;
		background: $background-post;
		position: relative;
		text-align: center;
		width: calc(100% - 20px);
	}

	& h1 {
		font-weight: normal;
		margin-bottom: 0;
		margin-top: 0;
		a {
			color: $text-color;
		}
	}

	& h2 {
		font-weight: normal;
		margin-top: 0;
		font-size: 16px;
	}

	&--search {
		position: relative;
		max-width: 150px;
		margin: 0 auto;
		&--icon {
			position: absolute;
			left: 0;
			top: 5px;
		}
		&--input {
			font-size: 16px;
			padding: 5px 5px 5px 20px;
			margin: 0 auto;
			width: 150px;
			background: none;
			box-shadow: none;
			border: none;
			border-bottom: 1px solid $text-color;
		}
	}

	&--browse {
		font-size: 16px;
		color: $text-color;
		&__links {
			display: flex;
			max-width: 200px;
			margin: 0 auto;
			padding: 0 10px;
			&--icon {
				flex: 1;
			}
		}
		&__list {
			margin-left: -10px;
			& a {
				color: $light-text-color;
			}
			& li {
				@media (max-width: $breakpoint) {
					&:after {
						content: ' | ';
					}
					&:last-child:after {
						content: '';
					}
					display: inline-block;
				}
			}
		}
	}
}

.almn-footer {
	padding: 25px;
	text-align: center;
	font-size: 14px;
}

iframe {
	max-width: 100%;
}

blockquote {
	font-style: italic;
}

@import "posts";
@import "pagination";