.item {
    border-bottom: 1px solid lightgrey;
    width: 100%;
}

.item:hover {
    cursor: pointer;
}

.link {
    padding: 10px;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.rating {
    font-size: 12px;
    display: flex;
    margin-left: auto
}
